<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-c0901:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_c0901_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-c0901/web/Web" />
    </root>
  </artifact>
</component>